<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <!--Iniciando navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Aplicação Restaurante</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos">Pedidos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="conainter">
        <div class="row t-4">
            <div class="col-md-6">
                <h2>Pedidos</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% pedidos.forEach(pedido => { %>
                            <tr>
                            <td><%= pedido.id %></td>
                            <td><%= pedido.cliente %></td>
                            <td><%= pedido.total %></td>
                            <td><%= pedido.status %></td>
                            </tr>
                            <% }) %>                           
                    </tbody>
                </table>
            </div>
            <div class="col md-6">
                <h2>Criar Pedido</h2>
                <form action="/Pedidos" method="post">
                    <div class="form-group">
                        <label for="clinte">Cliente:</label>
                        <input type="text" class="form-control" id="cliete" name="cliente" required-/>
                    </div>
                    <div class="form-group">
                        <label for="itens">Itens:</label>
                        <textarea class="form-control" id="itens" name="itens" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="total">Total:</label>
                        <input type="number" class="form-control" id="total" name="total" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Criar Pedido</button>
                </form>
            </div> 
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>